* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 150%;
    background-color: #f4f4f4;
    margin: 0;
}

header{
    background-color: #8ecae6;
    padding: 20px;
    text-align: center;
}

/* NAV */
nav{
    display: inline-block;
    width: 80%;
    background-color: #219ebc;
    padding: 10px;
}

/* selector descendente */
nav img{
    width: 10%;
}

/* main */
main{
    background-color: white;
    font-size: 20px;
    padding: 20px;
}

footer{
    background-color: #8ecae6;
    padding: 15px;
    text-align: center;
}

/* li comentado (Tarea 2 lo pide)
/*
li{
    display: inline-block;
    width: 150px;
}
*/

h1{
    text-align: center;
    font-family: Georgia, serif;
    color: #023047;
}

p{
    line-height: 1.6;
}

/* imágenes generales */
img{
    margin: 5px;
    border: 3px solid #219ebc;
    border-radius: 10px;
}

/* GRID (neighborhood.html) */
.grid{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

/* imágenes dentro de grid */
.grid img{
    width: 100%;
}

/* FLEX (parks.html) */
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
